@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

/* wtf you can style the scroll bar?! */
::-webkit-scrollbar {
  width: 10px;
}

/* track -- the track (progress bar) of the scroll bar */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* handle -- dragable bit of scroll bar */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* handle on hover --  when hovering over dragable bit of scroll bar */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

